.header {
  // The header/navbar is an essential part of the website's general layout
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1.5rem 3rem;
  background-color: $color-gray-light;
  border-bottom: 1px solid #F0F0F0;
  align-items: center;
  font-size: 2.5rem;
  z-index: 20;

  &__img {
    max-height: 7.5rem;
    margin-right: auto;
  }
}
.nav-bar {

}

.nav-list {
  display: flex;
  list-style: none;

  &__item {
    position: relative;
    padding: 1rem 2rem;

    &:after {
      content: '';
      height: 2px;
      background: $color-secondary;
      // width: 0;
      width: calc(100% - 4rem);
      position: absolute;
      transform: translateX(-50%) scaleX(0);
      transform-origin: left;
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      left: 50%;
      margin-top: 0.7rem;
    }

    &:hover {
      &:after {
        // width: calc(100% - 6rem);
        transform: translateX(-50%) scaleX(1);
      }
    }

    &--active,
    &:active,
    &:focus {
      outline: none;
      &:after {
        background: $color-primary;
        // width: calc(100% - 6rem);
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
  }
}