/* 
 * Josh W. Comeau's Custom CSS Reset
 ? https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
body,
#root,
#__next {
  isolation: isolate;
}

/* 
*=========================*
*     GENERAL STYLES      *
*=========================*
*/

body {
  overflow-x: hidden;
}

/* 
  * Hide content for sighted users while still allowing
  * assistive technologies to discover and interact
  * with the content
  ? https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
*/
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* 
*=========================*
*       TYPOGRAPHY        *
*=========================*
*/

@font-face {
  font-family: "Recursive";
  font-style: oblique 0deg 15deg;
  font-weight: 300 900;
  font-display: swap;
  src: url(/portfolio-assets/fonts/Recursive-optimized.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Recursive", sans-serif;
}

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* 
*=========================*
*         UTILITY         *
*=========================*
*/

.u-center-text {
  text-align: center !important;
}

.u-margin-top--sm {
  margin-top: 16px;
}

.u-margin-top--lg {
  margin-top: 64px;
}

.u-margin-bottom--md {
  margin-bottom: 32px;
}

/* 
*=========================*
*        COMPONENTS       *
*=========================*
*/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  color: hsl(0deg 0% 100%);
  background-color: hsl(221deg 98% 67%);
  text-decoration: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 0 300px;
  border-radius: 8px;
  /* box-shadow: 0 24px 48px hsl(0deg 0% 0% / 0.075); */
  box-shadow: 0 24px 48px hsl(0deg 0% 0% / 0.1);
}

.card__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 0 24px 16px;
}

.card__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card__title {
  font-size: 1.25rem;
  line-height: 1.1;
}
.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card__link {
  margin-top: auto;
  text-align: center;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 9999px;
  background-color: var(--tag-background-color, hsl(0deg 0% 83%));
  color: var(--tag-color, hsl(0deg 0% 100%));
  font-size: 0.75rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.6;
  text-transform: uppercase;
}

/* 
*=========================*
*      LAYOUT STYLES      *
*=========================*
*/

/* HEADER */
/* 
  * Credits: Kevin Powell's Responsive navbar tutorial using HTML CSS & JS
  ? https://www.youtube.com/watch?v=HbBMp6yUXO
*/

.max-width-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.profile {
  margin: 32px;
}

.profile__link {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  font-size: 1.25rem;
  font-weight: 423;
  text-shadow: -1px -1px hsl(0deg 0% 0%), 1px -1px hsl(0deg 0% 0%),
    -1px 1px hsl(0deg 0% 0%), 1px 1px hsl(0deg 0% 0%);
  text-decoration: none;
}

.profile__picture {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
}

.profile__name {
  display: none;
}

.header__nav-toggle {
  display: none;
}

.header__nav {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: hsl(0deg 0% 0% / 0.75);
}

.header__nav__link {
  color: white;
}

@supports (backdrop-filter: blur(16px)) {
  .header__nav {
    background-color: hsl(0deg 0% 0% / 0.5);
    backdrop-filter: blur(16px);
  }
}

.header__nav__link {
  text-decoration: none;
}

.header__nav__link span {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.section-projects {
  padding: 128px 0;
}

.filler {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
}

.filler:nth-of-type(1) {
  background-color: tomato;
}
.filler:nth-of-type(2) {
  background-color: olivedrab;
}
.filler:nth-of-type(3) {
  background-color: cornflowerblue;
}

/* 
*=========================*
*    RESPONSIVE STYLES    *
*=========================*
*/

/* MOBILE AND BELOW: <560px */
/*
 ? We use some max-width media queries for the header nav
 ? so we don't have to overwrite a bunch of styles later
*/
@media (max-width: 34.999em) {
  .header__nav {
    position: fixed;
    /* Fancy modern syntax for top/right/bottom/left */
    inset: 0 0 0 30%;

    flex-direction: column;
    gap: 32px;
    padding: min(320px, 15vh) 32px;
    will-change: transform;
    transform: translateX(100%);
    transition: transform 250ms ease-in;

    z-index: 2;
  }

  .header__nav[data-visible="true"] {
    transform: translateX(0%);
    transition: transform 400ms ease-out;
  }

  .header__nav-toggle {
    display: block;
    position: fixed;
    width: 32px;
    aspect-ratio: 1 / 1;
    top: 32px;
    right: 32px;
    border: none;
    background: transparent;
    background-image: url(portfolio-assets/img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;

    /* 
      ! This is a special case indicating that this element
      ! should stay on top of everything else at all times.
      * Consider creating separate stacking contexts
      * for other content that need to overlap:
      ? https://www.joshwcomeau.com/css/stacking-contexts/#airtight-abstractions-with-isolation
    */
    z-index: 9999;
  }

  .header__nav-toggle[aria-expanded="true"] {
    background-image: url(portfolio-assets/img/icon-close.svg);
  }
}

/* TABLET ONLY: 560px-879px */
/* 
  ? Hide the index numbers on tablet devices
*/
@media (min-width: 35em) and (max-width: 54.999em) {
  .header__nav__link span {
    display: none;
  }
}

/* MOBILE AND UP: >=560px */
@media (min-width: 35em) {
  .header__nav {
    gap: clamp(24px, 5vw, 48px);
    padding: 32px clamp(48px, 7vw, 160px);
  }
}

/* TABLET AND UP: >=880px */
@media (min-width: 55em) {
  .profile__name {
    display: revert;
  }
}
