// We'll set our project-wide font definitions here!
body {
  font-family: "Segoe UI", "Helvetica", sans-serif;
}

// The intro section uses this heading.
.heading-primary {
  font-family: "Helvetica", "Segoe UI", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    text-indent: 2rem; // Also applies some spacing to the left side of the first character
    animation: fadeInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    text-indent: .75rem;
    animation: fadeInRight 1s ease-out;
  }
}