// We'll declare our CSS/Sass variables here!
$color-primary: #73D4F1;
$color-secondary: #FF9A00;

$color-dark: #000;
$color-gray: #bbbdc0;
$color-gray-light: #F7F7F7;

$header-height: calc(7.5rem + 3rem + 1px);