// We'll declare our CSS/Sass variables here!
$color-primary: #73D4F1;
$color-secondary: #FF9A00;

$color-dark: #000;
$color-dark-2: #414042;
$color-gray: #BBBDC0;
$color-gray-light: #F7F7F7;
$color-gray-light-2: #EEE;

$header-height: calc(6.5rem + 3rem + 1px);