.container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "🅱 🅱 🅱 🅱 👌 👌 👌 👌"
        "🅱 🅱 🅱 🅱 👌 👌 👌 👌"
        "🅱 🅱 🅱 🅱 👌 👌 👌 👌"
        "🅱 🅱 🅱 🅱 👌 👌 👌 👌";
}

.item8 {
    grid-column: 🅱-start / 🅱-end;
}
