/* Import and use the Inter font https://rsms.me/inter/ */
@import url("https://rsms.me/inter/inter.css");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2em;
  letter-spacing: -0.011em;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  background-color: hsl(221deg 98% 67%);
}

.wrapper {
  margin-inline: auto;
  background: #f8f9fa;
  position: relative;
  width: fit-content;
  border-radius: 8px;
}

.x-axis-label {
  fill: hsl(0deg 0% 0%);
  font-size: 1.4em;
  text-transform: capitalize;
}

.y-axis-label {
  fill: hsl(0deg 0% 0%);
  font-size: 1.4em;
  text-anchor: middle;
  transform: rotate(-90deg);
}

/* circle {
  fill: hsl(221deg 98% 67%);
} */

.legend-text {
  font-size: 0.6em;
  text-anchor: end;
}

.voronoi {
  /* stroke: hsl(11deg 98% 67%); */
  fill: transparent;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -14px;
  left: 0;
  padding: 0.6em 1em;
  background: hsl(0deg 0% 100%);
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border: 1px solid hsl(0deg 0% 87%);
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: hsl(0deg 0% 100%);
  border: 1px solid hsl(0deg 0% 87%);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltip-athlete {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}
